.segment-container {
  margin: 4px 0;
  border: 1px solid #888;
}

.segment-inactive {
  flex: 1;
  margin: 0;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  padding: 4px 0;
}

.segment-active {
  flex: 1;
  margin: 0;
  font-size: 16px;
  text-align: center;
  padding: 4px 0;
  border-top: 2px groove #4b4a44;
  border-bottom: 2px groove #bbb;
}

.segment-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}

.segment-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #4b4a44;
  display: inline-block;
}

.segment-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}

.hero input[type='file'] {
  display: none;
}

.upload-button {
  height: 30px;
  margin: 0px 60px 0px 30px;
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid #b5b3a4;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Signika', sans-serif;
  align-content: center;
  text-align: center;
}

.upload-button:hover,
.upload-button:focus {
  outline: none;
  box-shadow: 0 0 5px red;
}

.upload-button:disabled {
  color: #4b4a44;
  box-shadow: none;
}

.upload-button > i {
  margin-right: 3px;
}

form .upload-button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
}

.hero .rollable-skill {
  width: 40px;
  line-height: normal;
}
