.hero {
  .tab-body {
    height: 100%;
    overflow-y: auto;
  }

  .tab-header {
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 5px;
    background: #cfcdc2;
    border: 1px solid #aaa;
    border-radius: 2px;
    text-align: left;
    font-weight: bold;
    z-index: 1;

    .item-image {
      flex: 0 0 24px;
      margin-right: 5px;
    }

    .item-controls {
      flex: 0 0 86px;
      text-align: right;
    }
  }

  .tabs {
    height: 40px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;

    .item {
      line-height: 40px;
      font-weight: bold;
    }

    .item.active {
      text-decoration: underline;
      text-shadow: none;
    }
  }
}
